.animal-show {
  position: relative;
  padding: 10px;
  border: 1px solid rgb(179, 219, 174);
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px rgb(218, 233, 163);
}
.animal {
  height: 200px;
}
.heart {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
